

    <mat-toolbar color="primary">
      <button mat-button [routerLink]="['/admin/dashboard']">
        <mat-icon>home</mat-icon> Dashboard
      </button>
      <button mat-button [routerLink]="['/admin/generate-schedule']">
        <mat-icon>schedule</mat-icon> Générer Horaires
      </button>
      <button mat-button [routerLink]="['/admin/create-course']" disabled>
        <mat-icon>group</mat-icon> Créer un cours
      </button>
      <span class="example-spacer"></span>
      <button mat-button (click)="logout()">Déconnexion</button>
    </mat-toolbar>
