<h2 mat-dialog-title>Modifier le créneau</h2>

<form [formGroup]="editForm">
<!--  Cours-->
  <mat-form-field appearance="outline">
    <label>Cours</label>
<!--    <input matInput formControlName="courseId">-->
    <input matInput [value]="data.course.name" disabled>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <label>Professeur</label>
<!--    <input matInput formControlName="professor">-->
    <input matInput [value]="data.course.professor" disabled>
  </mat-form-field>

  <!-- Salle (select modifiable) -->
  <mat-form-field appearance="outline">
    <mat-label>Salle</mat-label>
    <mat-select formControlName="classroomId" (selectionChange)="onClassroomChange($event.value)">
      <mat-option *ngFor="let room of classrooms" [value]="room.id">
        {{ room.matricule }} ({{ room.site.name }})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Site (readonly, auto lié à la salle) -->
  <mat-form-field appearance="outline">
    <mat-label>Site</mat-label>
    <input matInput [value]="selectedSite?.name" disabled>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <label>Heure de début</label>
    <input matInput type="datetime-local" formControlName="startTime">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <label>Heure de fin</label>
    <input matInput type="datetime-local" formControlName="endTime">
  </mat-form-field>
</form>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-button color="primary" (click)="onSave()" [disabled]="editForm.invalid">Sauvegarder</button>
</mat-dialog-actions>
