<mat-toolbar color="primary">
  <button mat-button [routerLink]="['/students/schedule', groupId]">
    <mat-icon>calendar_today</mat-icon> Voir l'Emploi du Temps
  </button>
  <button mat-button [routerLink]="['/students/week-schedule']">
    <mat-icon>view_week</mat-icon> Semaine
  </button>
  <button mat-button [routerLink]="['/students/month-schedule']">
    <mat-icon>view_module</mat-icon> Mois
  </button>
  <button mat-button [routerLink]="['/students/change-group']">
    <mat-icon>group_add</mat-icon> Changer de Groupe
  </button>
  <span class="example-spacer"></span>
  <button mat-button (click)="logout()">Déconnexion</button>
</mat-toolbar>
